h1= "Lazynight"
h2=title
form( method="post")
    div#content
        div#newtitle
            p Title 
            input(type="text", name="title", id="editArticleTitle")
        div#newbody
            p Body 
            textarea( name="body", rows=20, id="editArticleBody)
        div#editArticleSubmit
            input(type="submit", value="Send")
